
body{
  font-family: 'Roboto', sans-serif;
  padding-bottom: 25rem;
  position: relative;
  margin: 0;
  color: #333;
}

nav h1,
nav ul{
  display: none;
}


#sticky-tricker,
#contents-start{
  opacity: 0;
  pointer-events: none;
}

#contents-start{
  position: absolute;
  top: 10rem;
  left: 0;
}

#lang-toggle{
  font-size: 3em;
}
#lang-toggle .long-lang {
    display: none;
  }
nav{
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 5rem;
  min-height: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

nav a,
nav a:visited
{
  text-decoration: none;
  color: inherit;
  opacity: .5;
}

header{
  display: flex;
  flex-flow row nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  top: -5rem;
}

header #header-contents{
  max-width: 90vw;
  font-size: 4rem;
}

header #title{
  font-size: 1.3em;
}

header #title {
  transition: all .5s ease;
}
header img{
  transition: all .5s ease;
  max-width: 1.4em;
  max-height: 1.4em;
}

header #title{
  display: flex;
  flex-flow row nowrap;
  align-items: center;
  margin: 0;
}

header #subtitle{
  max-height: 100vh;
  font-size: .7em;
  font-style: italic;
  margin: 0;
  margin-top: .2em;
}

header #subtitle,
header #incitation
{
  padding-left: 3.5em;
  overflow: hidden;
}

header #incitation{
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  margin-top: 1em;
  font-size: .7em;
}

header #incitation li{
  list-style-type: none;
  flex: 1;
  background: #99B6BD;
  transition: all .5s ease;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  font-size: .7em;
  padding: 0;
}

header #incitation li a{
  padding: .6em;
  padding-top: 1em;
  padding-bottom: 1em;
}

header #incitation li:hover{
  background: #D4613E;
  
}

header #incitation a,
header #incitation a:hover
header #incitation a:visited
header #incitation a:active{
  text-decoration: none;
  cursor: pointer;
  color: white;
}




header #title a,
header #title a:hover
header #title a:active
header #title a:visited
{
  color: inherit;
  text-decoration: none;
}

header #title span{
  margin-left: .5em;
}

header{
  padding-left: 2rem;
  padding-right: 2rem;
}

header.is-sticky{
  background: white;
  top: 0!important;
  left: 5rem!important;
  padding: 1rem;
  padding-left: 0;
  height: 3rem;
  justify-content: flex-start;
  z-index: 1000;
}

header.is-sticky #title span{
  font-size: 4rem;
}


header.is-sticky img{
  height: 4rem;
}

header.is-sticky #title{
  padding: 0;
  margin: 0;
}

header.is-sticky #subtitle,
header.is-sticky #incitation
{
  opacity: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
}

.contents{
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 10rem;
  padding-right: 2rem;
}

.contents .unstyled{
  font-size: 1rem;
  margin-bottom: 1rem;
  text-indent: 1rem;
  line-height: 1.4rem;
}

.contents ul{
  margin: 0;
  padding: 1rem;
}

.contents .unstyled + ul{
  padding-top: 0;
}

.contents .unstyled:has(+ ul) {
  text-indent: 0;
}
.contents ul li{
  margin-bottom: .5rem;
  font-size: 1rem;
  list-style-type: none;
  position: relative;
}

.contents ul li:before {
  content: "◈";
  position: absolute;
  left: -1.5em;
}

.contents a,
.contents u,
.contents a:visited,
.contents a:active
{
  text-decoration: none;
  color: #99B6BD;
  transition: color .5s ease;
}

.contents a:hover{
  text-decoration: none;
  color: #D4613E;
}

.contents #acknowledgements {
  margin-top: 2rem;
}
.contents #acknowledgements h2{
  margin-bottom:0;
  font-size: 1.2em;
}
.contents #acknowledgements li{
  font-size: .9em;
}

figure{
  margin: 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

figure img,
figure video{
  max-width: 100%;
}

figure figcaption{
font-style: italic;
padding-top: 1rem;
padding-left: 4rem;
padding-right: 4rem;
font-size: .8em;
opacity: .8;
}



footer{
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  background: #99B6BD;
  box-sizing: border-box;
  color: white;
  opacity: .7;
  font-size: 2rem;
}

footer .unstyled{
  margin-bottom: 1rem;
}

footer img{
  display: inline;
  height: .7em;
  margin-left: .5em;
}

footer a,
footer a:visited,
footer a:hover,
footer u,
footer a:active{
  color: inherit;
  text-decoration: none;
  font-weight: 800;
}

footer h4{
  margin-bottom: .5em;
}

/*@media screen and (min-width: 768px){*/
@media screen and (min-width: 1000px){

  body{
    font-size: 20px;
  }

  header{
    top: 0;
  }

  header #header-contents{
    max-width: 90vw;
    font-size: 2rem;
  }
  header.is-sticky #title span{
    font-size: 1.3rem;
  }

  header.is-sticky img{
    height: 2rem;
  }

  .contents,
  footer{
    padding-left: 20vw;
    padding-right: 20vw;
  }

  nav{
    width :20vw;
    align-items: flex-start;
    background: transparent;
    pointer-events: none;
  }

  #lang-toggle{
    font-size: .8em;
  }

  nav h1,
  nav ul{
    display: block;
  }

  nav ul{
    margin-top: 20vh;
    opacity: 0;
    transition: opacity .5s ease;
  }

  header.is-sticky ~ nav ul{
    opacity: 1;
  }

  nav li{
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: .8em;
    pointer-events: all;
  }

  nav li.active{
    color: #D4613E;
  }

  header.is-sticky{
    top: 2vw!important;
    left: 1rem!important;
    padding: 1rem;
    padding-left: 0;
    height: 0;
    justify-content: flex-start;
    background: transparent;
  }

  #lang-toggle{
    bottom: 1rem;
    left :3rem;
    position: fixed;
    z-index: 1000;
    pointer-events: all;
  }
  #lang-toggle .long-lang {
    display: inline;
  }

  .contents #acknowledgements h2{
    margin-bottom:0;
    font-size: 1em;
  }
  .contents #acknowledgements li{
    font-size: .7em;
  }
  footer{
    font-size: .7rem;
  }
} 

@media screen and (min-width: 1224px){
  .contents,
  footer{
    padding-left: 30vw;
    padding-right: 30vw;
  }
}

@media print{
  
  footer,nav,#sneak-peak, header #incitation{
    display: none;
  }

  header{
    height: unset;
    justify-content: flex-start;
  }

  header #subtitle
  {
    opacity: 1;
    max-height: 100%;
    margin: unset;
    padding: unset;
    margin-left: 4em;
  }
  .contents{
    padding-top: 4rem;
  }
}