@import './fonts/stylesheet.css';
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
$color-light-bg: white;
$color-dark-bg: darkblue;
$color-dark-text: darkblue;
$padding-small: .5rem;
$padding-medium: 1rem;
$padding-large: 2rem;
$fontsize-small: .8rem;
$fontsize-normal: 1.3rem;
$fontsize-medium: 2.5rem;
$fontsize-big: 5rem;
$fontsize-very-big: 10pc;
$breakpoint-phone: only screen and (min-width : 320px) and (max-width : 768px);
$breakpoint-tablet: only screen and (min-width : 768px) and (max-width : 1224px);

// mixins
@mixin transition($args...)
{
    -webkit-transition: $args;
       -moz-transition: $args;
        -ms-transition: $args;
         -o-transition: $args;
            transition: $args;
}
a,
a:hover,
a:visited,
a:active
{
    text-decoration: none;

    color: inherit;
}

img{
    max-width: 100%;
}

html,
body,
#mount,
#mount > div
{
    font-family: 'Crimson Text', sans-serif;

    width: 100%;
    height: 100%;
    // min-height: 100%;
    margin: 0;
    padding: 0;

    color: $color-dark-text;
    background: $color-light-bg;
}

body
{
    overflow-x: hidden;
}


#brand-wrapper
{
    display: flex;
    overflow: hidden;

    width: 100%;
    height: 100%;

    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    @media #{$breakpoint-phone}
    {
        height: 100%;
    }
    #brand-container
    {
        display: flex;
        overflow: hidden;

        width: 100%;
        height: 100%;

        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;


        iframe,
        .cache
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }
        .cache
        {
            opacity: .5;
            background: $color-dark-bg;
        }
        h1
        {
            font-family: 'munro';
            font-size: $fontsize-very-big;

            z-index: 2;

            margin: 0;
            padding: $padding-medium;

            color: $color-light-bg;
            background: $color-dark-bg;
            .arrow
            {
                font-family: 'munro';
                font-size: $fontsize-big;

                position: relative;
                top: -1rem;

                padding: $padding-medium;

                color: $color-light-bg;
                background: $color-dark-bg;
            }
            #subline
            {
                font-family: 'Roboto', sans-serif;
                font-size: $fontsize-medium;
                font-weight: 400;

                display: block;

                margin-top: $padding-large;
                .secondary
                {
                    opacity: .5;
                }
            }
            @media #{$breakpoint-phone}
            {
                width: 100%;
                height: 95%;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 1rem;
                a
                {
                    font-size: 4.5rem;

                    top: 0;
                }

                .arrow{
                    font-size: 4.5rem;
                    padding: 0;
                    top: 0;
                }
            }
        }
    }
}


header
{
    line-height: $fontsize-normal*2;

    display: flex;

    width: 100%;
    // height: 80px;
    padding: $padding-small $padding-medium $padding-small $padding-medium;
    // padding: 0 $padding-medium $padding-large $padding-medium;

    text-align: center;
    text-transform: uppercase;

    color: $color-light-bg;
    background: $color-dark-bg;

    backgound-color: #333;
    flex-flow: row nowrap;
    align-contents: space-between;
    a
    {
        font-size: 1rem;
        // font-size: $fontsize-medium;
        font-weight: 800;

        margin-right: $padding-medium;


        @include transition(all .2s);

        position : relative;

        &::after{
            position: absolute;
            content: '';
            display: inline-block;
            left: 0;
            top: 2rem;
            border-bottom: 1px white solid;
            width : 0;
            @include transition(all .2s);
        }

        &:not(#logo-link):hover::after{
            width: 100%;
        }
    }
    .logo
    {
        font-family: 'munro';
        font-size : 1.3rem;
        margin-right:  $padding-medium;
    }
    @media #{$breakpoint-phone}
    {
        overflow: hidden;

        flex-flow: column nowrap;
    }
}

.sticky
{
    header
    {
        position: relative;
        top: $padding-small * 7;
        // top: 80px;
        // padding-top: 0;
        // padding-bottom: $padding-medium;
        a,
        .logo
        {
            // font-size: $fontsize-normal;
        }
    }
}


.site-section,
header,
footer
{
    padding-left : 25%;
    padding-right: 25%;

    @media #{$breakpoint-tablet}
    {
        padding-left: 10%;
        padding-right: 10%;
    }

    @media #{$breakpoint-phone}
    {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.site-section
{
    display: flex;

    padding-top: 3rem;

    flex-flow: row nowrap;
    > section
    {
        padding: $padding-medium;

        flex: 1;
    }
    a
    {
        text-decoration: underline;
    }
    p
    {
        font-size: $fontsize-normal;
    }
    ul
    {
        font-size: $fontsize-normal;

        padding: $padding-medium;
        li
        {
            margin-bottom: $padding-medium;
        }
    }
    @media #{$breakpoint-phone}
    {
        flex-flow: column nowrap;
    }
    &.versions-section
    {
        display: flex;

        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        // padding: 2rem;

        @media #{$breakpoint-phone}
        { 
            flex-flow: column nowrap;
        }

        .peritext-version
        {
            display: flex;

            text-align: center;

            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            cursor: pointer;

            padding: 0 1rem 0 1rem;

            text-decoration : none;

            &:hover
            {
                background: lightgrey;
            }
            img
            {
                margin-bottom: 1rem;
                max-width : 6rem;
                margin-left : -1rem;
            }
            h3
            {
                display: block;
                text-align: center;
                padding-left : 0rem;
                margin-bottom: .3rem;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight : 900;
            }
            p{
                font-style: italic;
                font-size :1rem;
                max-width: 20rem;
                text-align: left;
                // padding-left: 3rem;
            }
        }
    }
}

footer
{
    margin-top : 10rem;

    padding-top : $padding-large;
    padding-bottom: $padding-large;

    color: $color-light-bg;
    background: $color-dark-text;
    img
    {
        max-width: 5rem;
        max-height: 5rem;
    }
}


::-webkit-scrollbar
{
    width: .7rem;
}
::-webkit-scrollbar-button
{
    /* 2 */
}
::-webkit-scrollbar-track
{
    border-top: 1px solid $color-dark-bg!important;
    border-bottom: 1px solid $color-dark-bg!important;
}

::-webkit-scrollbar-thumb
{
    background: $color-dark-bg!important;
}
::-webkit-scrollbar-corner
{
    /* 6 */
}
::-webkit-resizer
{
    /* 7 */
}

scrollbar
{
    /*  clear useragent default style*/
    -moz-appearance: none !important;
}
/* buttons at two ends */
scrollbarbutton
{
    -moz-appearance: none !important;
}
/* the sliding part*/
thumb
{
    -moz-appearance: none !important;
}
scrollcorner
{
    resize: both;

    -moz-appearance: none !important;
}
/* vertical or horizontal */
scrollbar[orient='vertical']
{
    color: $color-dark-bg!important;
}
